<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>271338649593-5c7k5oi5tn2kqtpequ75t1aoiqq67j35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271338649593-5c7k5oi5tn2kqtpequ75t1aoiqq67j35</string>
	<key>API_KEY</key>
	<string>AIzaSyALKtDCoN7pnMGxG0mO4A6UbONJP1Qv4z8</string>
	<key>GCM_SENDER_ID</key>
	<string>271338649593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ABC.MySocial</string>
	<key>PROJECT_ID</key>
	<string>mysocial-d8df0</string>
	<key>STORAGE_BUCKET</key>
	<string>mysocial-d8df0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:271338649593:ios:c16c1346ed4ff04b</string>
	<key>DATABASE_URL</key>
	<string>https://mysocial-d8df0.firebaseio.com</string>
</dict>
</plist>